html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
div {
    margin: 0;
    padding: 0;
}

.header__inner {
    max-width: 1230px;
    height: 90px;
}

.header__logo {
    float: left;
    font-size: 24px;
    padding: 20px 40px;
}

.header__list {
    float: right;
    padding: 30px 40px;
}

.header__link {
    text-decoration: none;
    color: black;
    padding-left: 40px;
}

.footer__inner {
    margin: 0 auto;
}

.footer__logo {
    font-size: 16px;
    text-align: center;
}