.stamp__form-content {
    background: #f4f4f4;
    margin: 0 auto;
    height: 500px;
}

.stamp__form-heading {
    padding-top: 20px;
    text-align: center;
}

.stamp__form-group {
    margin: 0 auto;
}

.stamp__button-work {
    text-align: center;
    padding: 10px;

}

.stamp__button-rest {
    text-align: center;
    padding: 10px;
}

.stamp__button-submit {
    background-color: #ffff;
    width: 200px;
    height: 100px;
    color: black;
    margin: 20px;

}
