.stamp__form-content {
    text-align: center;
    background-color: #f4f4f4;
    height: 520px;
}

.stamp__form-heading {

    padding-top: 20px;
}

.stamp__button {
    padding: 10px;
}

.work__start {
    background-color: #ffff;
    width: 200px;
    height: 100px;
    color: black;
    margin: 20px;
}

.work__stop {
    background-color: #ffff;
    width: 200px;
    height: 100px;
    color: black;
    margin: 20px;
}

.rest__start {
    background-color: #ffff;
    width: 200px;
    height: 100px;
    color: black;
    margin: 20px;
}

.rest__stop {
    background-color: #ffff;
    width: 200px;
    height: 100px;
    color: black;
    margin: 20px;
}